body {
    background: black;
}

.titulo {
    color:red;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 20px;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 700px;
    height: 380px;
}

.container-botao {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.botao {
    border-radius: 10px;
    color:black;
    background: red;
    text-align: center;
    font-size: 40px;
    font-family: 'Aclonica', sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.botao:hover {
    border: white solid 3px;
    font-size: 43xpx;
}

.botao:active {
    background: white;
}