body {
    background: black;
}

.titulo {
    color:red;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 50px;
}

p {
    color: white;
    font-family: 'Antic', sans-serif;
}

.apresentacao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-inicio {
    margin-right: 50px;
    margin-left: 15px;
    font-size: 21px;
    margin-bottom: 20px;
}

.imagem-casa {
    height: 350px;
    width: 580px;
    margin-right: 15px;
}

.bottom-box {
    text-align: center;
    margin-top: 60px;
    
    
}

.botao {
    border-radius: 10px;
    color:black;
    background: red;
    text-align: center;
    font-size: 40px;
    font-family: 'Aclonica', sans-serif;
    text-decoration: none;
}

.botao:hover {
    border: white solid 3px;
    font-size: 43xpx;
}

.botao:active {
    background: white;
}