body {
    background: black;
}

.titulo {
    color:red;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 50px;
}

.subtitulo {
    color:white;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 35px;

}

p {
    color: white;
    font-family: 'Antic', sans-serif;
    text-align: center;
    margin: 3px;
}

.pergunta {
    color: white;
    font-family: 'Aclonica', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 8px;
}

.resposta {
    color: white;
    font-family: 'Antic', sans-serif;
    font-size: 23px;
    text-align: center;
    margin: 6px;
}

.container-botao {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}


.botao {
    border-radius: 10px;
    color:black;
    background: red;
    text-align: center;
    font-size: 40px;
    font-family: 'Aclonica', sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.botao:hover {
    border: white solid 3px;
    font-size: 43xpx;
}

.botao:active {
    background: white;
}